# Google Apps Script Web App URL (deploy your Apps Script as a web app and paste URL here)
APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbz71Kiwugr5YNDkyDJ_g3mKpNIFH0HHtxAGsTrBE36uZwRQaGknEsbLmBfD1oGUCFtw/exec